/* global*/

body{
    font-family: Arial, Helvetica, sans-serif;
   /* font-size: 18px;*/
    
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 600px;
    
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 60, 60);
    
}

.iten2{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 50px;
    
}

.meu-nome,h2,h3,.nav{
    color: rgb(209, 91, 47);
}

p.nav:hover{
    color: antiquewhite;
}

.foto{
    width: 150px;
    border-radius: 100px;
    border: 5px solid rgb(209, 91, 47);
}

a{
    text-decoration:none;
   text-align: center;
   color: black;
}

hr{
    width: 650px;
}

/* conteudo index*/
.email{
    text-decoration: underline blue;
}

.nome{
    font-size: 37px;
}


.comentario{
    padding-top: 70px;
}

.logo{
    
    width: 30px;
    padding: 20px;
    
}
.icos {
    display: flex;
    justify-content: start;
    margin-left: -20px;
    
}

/*conteudo conhecimentos*/

.lista{
    margin-right: -200px;
    position: relative;
    right: 50px;
    top: -50px;
    padding: 80px;
}

ol{
    
    list-style-type: upper-latin;
    line-height: 50px;
    
    
}

.barra-pro{
    background-color: rgb(61, 60, 60);
    border: 2px solid ;
    height: 18px;
    margin: 0px 10px 5px 20px  ;

}

.barra-pro::-webkit-progress-bar,
.barra-pro::-moz-progress-bar  {
    background-color: rgb(209, 91, 47);
}  


/*conteudo objetivo*/
.objetivo{
    text-align: justify;
    list-style-type: none;
    padding: 16px;
}

ul{
    
    padding-left: 0px;
    list-style-type: none; 
}

.lista,.objetivo{
    width: 600px;
}

h3{
    font-size: 17px;
}

.sub-titulo{
    text-align: center;
    margin-bottom: 5px;
}
